
.dd-btn{
    border: none;
    background-color: chartreuse;
    font-size: 25px;
    padding: 7px;
  
}
.dd-container{
    width: 163px;
    text-align: center;
    position: relative;
}
.dd-items a{
    text-decoration: none;
    display: block;
    background-color: chartreuse;
    font-size: 28px;
    padding: 3px 4px;
}
.dd-items{
    display: none;
}

.dd-container:hover .dd-items{
    display: block;
}
.dd-items a:hover{
    background-color: black;
    color: white;
}


